<div style="position:absolute;width:100%">
  <mat-toolbar color="primary">
    <h1>Fakturowanie</h1>
  </mat-toolbar>
</div>
<div style="width:100%!important;position:absolute;margin-top:60px">
  <div class="page-header">
    <div class="navLinks">
      <a (click)="link='Strona główna'" mat-button [routerLink]="['/dom']">Strona główna</a>
      <a (click)="link='Nowa faktura'" mat-button [routerLink]="['/nowa']">Nowa faktura</a>
      <a (click)="link='Zdefiniowane faktury'" mat-button [routerLink]="['/zdefiniowana']">Zdefiniowane faktury</a>
      <a (click)="link='Historia'" mat-button [routerLink]="['/historyczne']">Historia</a>

    </div>
  </div>
  <mat-toolbar style="height:35px!important;">
    <div style="text-align:center"><strong>{{link}}</strong></div>
  </mat-toolbar>
  <div style="position:absolute;right:0px">
    <app-login></app-login>
  </div>
  
</div>
<div style="position:absolute;top:100px" id="content">
    <div class="container">
      <router-outlet></router-outlet>

    </div>
  </div>