<div style="padding:20px">

<h2>Witaj w naszej aplikacji do faktur</h2>

<mat-list>
    <mat-list-item color="primary">Kup premium!</mat-list-item>
    <mat-divider color="primary">SSS</mat-divider>
    <mat-list-item>Okazyjna cena</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item color="warn">2068 zł</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><button color="warn" mat-raised-button>KUP!</button></mat-list-item>
  </mat-list>

</div>